{
  "importOrderParserPlugins": ["decorators-legacy", "jsx", "typescript"],
  "importOrder": ["^~/", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "singleQuote": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-astro",
    "prettier-plugin-tailwindcss"
  ],
  "pluginSearchDirs": false
}
