---
interface Props {
  href: string;
  external?: boolean;
  icon?: boolean;
  title?: string;
}

const { href, external = false, icon = false, title } = Astro.props;

const colorClass = icon ? '' : 'text-pink-800 dark:text-teal-300';
const textClass = icon ? 'text-2xl' : '';
---

<a
  class=`${colorClass} ${textClass} hover:text-pink-600 dark:hover:text-teal-500`
  href={href}
  target={external ? '_blank' : ''}
  title={title}
>
  <slot />
</a>
