---
import Link from './Link.astro';
import GithubIcon from './icons/GithubIcon.astro';
import LinkedInIcon from './icons/LinkedInIcon.astro';
import MailIcon from './icons/MailIcon.astro';
---

<div class="flex gap-4 dark:text-stone-200">
  <Link
    href="mailto:info@longville-software.be?subject=Mail from Longville-Software.be"
    icon
    title="Contact me"
  >
    <MailIcon />
  </Link>

  <Link
    href="https://www.linkedin.com/in/hansbrems"
    external
    icon
    title="Linked-In"
  >
    <LinkedInIcon />
  </Link>

  <Link href="https://github.com/HansBrems" external icon title="Github">
    <GithubIcon />
  </Link>
</div>
