---
import Page from '../layouts/Page.astro';
import Prose from '../components/Prose.astro';
import MyFlow from '../components/MyFlow';
---

<Page pageTitle="Dev">
  <div>
    <MyFlow client:load />
  </div>

  <Prose>
    <article>
      <h1>In dolore esse sit laborum nisi Lorem sunt consequat tempor anim.</h1>

      <p>
        Ut duis commodo non nulla officia consectetur. Labore magna eu ex eu non
        reprehenderit. Duis duis fugiat aliqua id est sit anim. Voluptate ut
        tempor excepteur proident velit laboris reprehenderit veniam quis.
      </p>

      <h2>Enim consequat incididunt est proident est proident Lorem sunt.</h2>

      <p>
        Do aliqua sint laboris pariatur labore. Mollit elit consectetur cillum
        voluptate cillum nisi quis officia. Tempor irure aliqua ex pariatur eu
        dolor reprehenderit sint proident cupidatat qui ea magna. Nulla veniam
        incididunt fugiat eu eu sint irure reprehenderit velit labore id fugiat
        aliqua. Veniam officia ullamco incididunt deserunt ipsum aliquip laboris
        exercitation aliquip et nulla ex.
      </p>

      <h3>
        Excepteur officia qui sit eu voluptate eiusmod aliquip eiusmod do
        ullamco anim excepteur sint duis.
      </h3>

      <p>
        Reprehenderit aliquip exercitation fugiat deserunt esse fugiat anim
        commodo voluptate consequat do quis nostrud. Sit exercitation culpa enim
        amet nisi qui voluptate excepteur culpa commodo minim. Pariatur ullamco
        ad do id ut ullamco.
      </p>

      <pre>
        public void Foo() &#123;
          Console.WriteLine("Hello world!");
        &#125;</pre>
    </article>
  </Prose>
</Page>
