---
import Page from '../layouts/Page.astro';
import Prose from '../components/Prose.astro';

import Socials from '../components/Socials.astro';
import WorkExperience from '../components/WorkExperience.astro';

const projects = [
  {
    title: 'Full-Stack Web Developer',
    company: 'Fluxys',
    description: `Development of several gas flow management applications.`,
    from: new Date(2022, 6),
    to: new Date(),
    tags: ['Angular', '.NET'],
  },
  {
    title: 'Full-Stack Web Developer',
    company: 'QFrame',
    description: `Declaration of open mortgage loans at Vlaamse Maatschappij voor Sociaal Wonen.`,
    from: new Date(2022, 3),
    to: new Date(2022, 5),
    tags: ['Angular', '.NET'],
  },
  {
    title: 'Full-Stack Web Developer',
    company: 'TUI',
    description: `Development of several web applications and services to support day to day operations in the finance and accounting department.`,
    from: new Date(2018, 8),
    to: new Date(2020, 2),
    tags: ['React', '.NET'],
  },
  {
    title: 'Full-Stack Web Developer',
    company: 'YPTO',
    description: `Maintenance of the back-end that powers BelgianTrain. Development of a customer service reporting website. Development of a mobile-first web application (B2B).`,
    from: new Date(2015, 10),
    to: new Date(2018, 8),
    tags: ['React', '.NET'],
  },
  {
    title: 'Full-Stack Web Developer',
    company: 'BE Mobile',
    description: `Development of several REST APIs that provide geo-location data to customers.`,
    from: new Date(2015, 9),
    to: new Date(2015, 10),
    tags: ['React', '.NET'],
  },
  {
    title: 'Desktop App Developer',
    company: 'Euroclear',
    description: `Development of tactical desktop apps aiming to quickly automate and support new business processes.`,
    from: new Date(2012, 6),
    to: new Date(2015, 9),
    tags: ['WPF', '.NET'],
  },
  {
    title: 'Front-End Developer',
    company: 'Concentra',
    description: `Lending a helping hand in implementing the redesign of two newspaper websites (Gazet van Antwerpen, Belang van Limburg).`,
    from: new Date(2012, 3),
    to: new Date(2012, 4),
    tags: ['HTML', 'CSS', 'Javascript'],
  },
  {
    title: 'Microsoft Access Developer',
    company: 'Sesvanderhave',
    description: `Development of an application to keep track of lab and regulatory data.`,
    from: new Date(2011, 1),
    to: new Date(2012, 4),
    tags: ['Microsoft Access'],
  },
];
---

<Page pageTitle="Home">
  <div>
    <img class="mx-auto" height="400" width="400" src="/images/logo.png" />
    <Socials />
  </div>

  <article>
    <Prose>
      <h1>Hi, I'm Hans</h1>

      <p>
        Hi, I'm Hans. I'm a freelance software developer from Langdorp, Belgium.
        I help companies build applications and services that empower users and
        streamline business processes. I design with simplicity in mind,
        ensuring that users find each interaction with the software intuitive
        and satisfying.
      </p>

      <p>
        Visit my{' '}
        <a
          href="https://www.linkedin.com/in/hansbrems"
          target="_blank"
          title="Linked-In"
        >
          Linked-In page
        </a>{' '}
        for a comprehensive overview of my work experience and projects.
      </p>
    </Prose>
  </article>

  <Prose>
    <h1>Work Experience</h1>

    <div class="not-prose flex flex-col gap-8">
      {projects.map((project) => <WorkExperience project={project} />)}
    </div>
  </Prose>
</Page>
