---
import Prose from '../components/Prose.astro';
import WorkExperience from '../components/WorkExperience.tsx';
import Page from '../layouts/Page.astro';
import { getCollection } from 'astro:content';
import Link from '../shared/components/Link.astro';

const projects = (await getCollection('projects')).map((x) => x.data);
const categories = (await getCollection('categories')).map((x) => x.data);
---

<Page pageTitle="Home">
  <Prose>
    <div class="grid grid-cols-1 gap-4">
      <section>
        <h1>About Me</h1>

        <p>
          My name is <b>Hans Brems</b> and I'm a freelance software developer from
          Langdorp, Belgium. I help companies build <b>applications</b> and <b
            >services
          </b>
          that empower users and streamline business processes. My favorite technologies
          to work with are <b>.NET</b>, <b>Angular</b> and <b>React</b>. I
          design with simplicity in mind, ensuring that users find each
          interaction with the software intuitive and satisfying.
        </p>
      </section>

      <section>
        <h1>Recent Projects</h1>

        <div class="not-prose flex flex-col gap-4">
          {
            projects
              .slice(0, 3)
              .map((project) => (
                <WorkExperience
                  categories={categories}
                  project={project}
                  client:load
                />
              ))
          }
        </div>

        <div class="mt-4 text-center">
          <Link href="/projects">See more projects</Link>
        </div>
      </section>
    </div>
  </Prose>
</Page>
