---
import Page from '../layouts/Page.astro';
---

<Page pageTitle="Home">
  <h1 class="xxl">Hans Brems</h1>

  <p>
    I'm a freelance software developer from Langdorp, Belgium. I help companies
    build applications and services that empower users and streamline business
    processes. I design with simplicity in mind, ensuring that users find each
    interaction with the software intuitive and satisfying.
  </p>

  <p>
    Visit my{' '}
    <a href="https://www.linkedin.com/in/hansbrems" target="_blank">
      Linked-In page
    </a>{' '}
    for a comprehensive overview of my work experience and projects.
  </p>
</Page>
