---
import { projects } from '../data/projects';
import Prose from '../components/Prose.astro';
import Socials from '../components/Socials.astro';
import WorkExperience from '../components/WorkExperience.astro';
import Page from '../layouts/Page.astro';
---

<Page pageTitle="Home">
  <div class="mb-8">
    <img class="mx-auto" height="400" width="400" src="/images/logo.png" />
    <Socials />
  </div>

  <Prose>
    <h1>Hi, I'm Hans</h1>

    <p>
      I'm a freelance software developer from Langdorp, Belgium. I help
      companies build applications and services that empower users and
      streamline business processes. I design with simplicity in mind, ensuring
      that users find each interaction with the software intuitive and
      satisfying.
    </p>

    <h1>Projects</h1>

    <div class="not-prose flex flex-col gap-8">
      {projects.map((project) => <WorkExperience project={project} />)}
    </div>
  </Prose>
</Page>
