---
import { getCollection } from 'astro:content';
import Page from '../layouts/Page.astro';
import Prose from '../components/Prose.astro';
import WorkExperience from '../components/WorkExperience.tsx';

const projects = (await getCollection('projects')).map((x) => x.data);
const categories = (await getCollection('categories')).map((x) => x.data);
---

<Page pageTitle="Projects">
  <Prose>
    <section>
      <h1>Projects</h1>
      <div class="not-prose flex flex-col gap-8">
        {
          projects.map((project) => (
            <WorkExperience
              categories={categories}
              project={project}
              client:load
            />
          ))
        }
      </div>
    </section>
  </Prose>
</Page>
