---
import Socials from './Socials.astro';
---

<footer class="bg-stone-800 p-4 text-stone-200 dark:text-stone-200">
  <div
    class="flex flex-col gap-4 md:flex-row md:items-center md:justify-between"
  >
    <small>
      Copyright Longville Software BV {new Date().getFullYear()}
    </small>

    <Socials />
  </div>
</footer>
