---
import MailIcon from './MailIcon.astro';
import TwitterIcon from './TwitterIcon.astro';
import GithubIcon from './GithubIcon.astro';
import LinkedInIcon from './LinkedInIcon.astro';
---

<style>
  @keyframes grow-shrink {
    0%,
    100% {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(10deg);
    }
  }

  .wiggle {
    transform: rotate(0deg);
    transition: transform 0.5s ease-in-out;
  }

  .wiggle:hover {
    animation: grow-shrink 0.5s infinite;
  }
</style>

<div class="flex gap-4 dark:text-stone-200">
  <a
    class="wiggle text-2xl hover:text-emerald-500"
    href="mailto:info@longville-software.be?subject=Mail from Longville-Software.be"
    title="Contact me"
  >
    <MailIcon />
  </a>

  <a
    class="wiggle text-2xl hover:text-emerald-500"
    href="https://www.linkedin.com/in/hansbrems"
    target="_blank"
    title="Linked-In"
  >
    <LinkedInIcon />
  </a>

  <a
    class="wiggle text-2xl hover:text-emerald-500"
    href="https://github.com/HansBrems"
    target="_blank"
    title="Github"
  >
    <GithubIcon />
  </a>

  <a
    class="wiggle text-2xl hover:text-emerald-500"
    href="https://twitter.com/longvillesw"
    target="_blank"
    title="Twitter"
  >
    <TwitterIcon />
  </a>
</div>
